{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "airbnb"
  ],
  "rules": {
      "jsx-a11y/href-no-hash": "off",    
      "react/no-did-mount-set-state": 0,
      "react/jsx-filename-extension": 0,
      "react/forbid-prop-types" : 0,
      "class-methods-use-this": 0,
      "no-mixed-operators": 0,
      "global-require": 0,
      "react/no-unescaped-entities": 0,
      "react/no-array-index-key": 0
  },
  "globals": {
      "require":  true
  }
}